@import "bootstrap/scss/mixins";
@import "../utilities";
.blue-1-bg {
  background-color: $blue-1;
}
.blue-2-bg {
  background-color: $blue-2;
}
.blue-3-bg {
  background-color: $blue-3;
}
.blue-4-bg {
  background-color: $blue-4;
}
