.lmseo-breadcrumb-wrap {
  padding: 0 1rem;
  color: $white;
  // background-color: $main;
  ul {
    background-color: $hexachromeBlack;
    list-style: none;
    border-bottom: 5px solid $white;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  li {
    // float: left;
    // a {
    //   display: block;
    //   &::after {
    //     content: "";
    //     border-color: transparent transparent transparent
    //       rgba(255, 255, 255, 0.8);
    //     display: inline-block;
    //     margin-left: 0.5rem;
    //     vertical-align: -0.05em;
    //   }
    // }

    &:first-child a {
      padding-left: 0;
    }
    &.current-item:last-child,
    &:last-child a {
      padding-right: 0;
    }
    &.current-item,
    a {
      display: inline-block;
      padding: 0.5rem;
      // border-radius: 0.5rem;
      border-radius: 0;
      &:after {
        content: "⇨";
        color: $blue;
        padding-left: 7px;
      }
    }
    &:last-child:after {
      content: "";
      color: $white;
    }
  }
  a {
    color: $blue;
    text-decoration: none;
    height: 100%;
  }
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(lg) {
  .lmseo-breadcrumb li {
    max-height: 40px;
    margin-bottom: -5px;
    a::after {
      content: "";
      padding: 0;
    }
  }
  .lmseo-breadcrumb-wrap li.current-item,
  .lmseo-breadcrumb-wrap li a {
    display: inline-block;
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
    max-height: 37px;
    max-width: 90%;
    overflow: hidden;
  }
  .lmseo-breadcrumb-wrap {
    padding: 0 3rem;
    color: $main;
    background-color: transparent;
    ul {
      background-color: transparent;
      list-style: none;
      border-bottom: 5px solid $white;
      flex-direction: row;
      width: auto;
    }
    li {
      &::after {
        content: "/";
        color: $blue;
        border-radius: 0.5rem;
      }
    }
  }
}
@include media-breakpoint-up(xlg) {
  .lmseo-breadcrumb-wrap li.current-item,
  .lmseo-breadcrumb-wrap li a {
    max-width: fit-content;
  }
}
