@import "../../node_modules/bootstrap/scss/utilities";
@view-transition {
  navigation: auto;
}
.dark-bg {
  background-color: $hexachromeBlack;
  color: $white;
}
.white-bg {
  background-color: $white;
  color: $main;
}
.dark-bg {
  background-color: $hexachromeBlack;
}
.light-bg {
  background-color: #fff5e3;
}
.cream-bg {
  background-color: var(--cream-color);
}
.blue-bg {
  background-color: $blue;
}
.smoky-bg {
  background-color: $white-smoke;
}
@include media-breakpoint-up(lg) {
  .white-bg-lg {
    background-color: $white;
    color: $main;
  }
  .dark-bg-lg {
    background-color: $hexachromeBlack;
    color: $white;
  }
}
