  /*Catalog Section-----------------------------------------------------*/
  /*--------------------------------------------------------------------*/
  /*--------------------------------------------------------------------*/
  /*--------------------------------------------------------------------*/
  .ca-container {
    height: 700px;
  }
  .catalog {
    h1,
    h3 {
      text-align: center;
    }
    h2 {
      position: relative;
      top: 50%;
      text-align: right;
      padding-right: 2rem;
      color: $tuatara;
    }
    h3 {
      color: $blue;
      padding: 3rem 0 0;
      font-weight: 700;
      font-size: 1.1rem;
      text-transform: uppercase;
      margin-bottom: 20px;
      height: 85px;
      text-align: center;
      // text-shadow: 0 1px 1px #e4ebe9;
    }
    h4 {
      font-size: 1rem;
      font-weight: 700;
    }
  }
  .catalog-item {
    padding: 2rem;
  }
  .back-end-button {
    width: 14.9rem;
  }
  .ecommerce-button {
    width: 14rem;
  }
  @import "lightbox";
  /* Circular Content Carousel Style */
  .ca-container {
    height: 700px;
  }
  .ca-item{
    color: darken($white, 20%);
    position: relative;
  }
  .ca-item-container{
    @for $i from 1 through 4 {
      div.ca-item:nth-child(#{$i}) {
          background-color: lighten($hexachromeBlack, ($i) * 2%);
      }
    } 
  }
  @include media-breakpoint-up(md) {
    .catalog {
      img {
        transform: scale(1);
        transition: all 0.5s ease-out;
        &:hover {
          transform-origin: bottom;
          transform: scale(1.15);
          transition: transform 10s ease-out;
        }
      }
      .ca-item-container{
        div.ca-item:nth-child(1){
          // border-top:8px $blue solid;
          border-right:8px $white solid;
        } 
        div.ca-item:nth-child(2){
          border-bottom:8px $white solid;
          border-left:0px $white solid;
        } 
        div.ca-item:nth-child(3){
          .cal-button-wrapper a{
            // margin-top: 8px;
          }
          border-top:8px $white solid;
          border-right:0px $white solid;
        } 
        div.ca-item:nth-child(4){
          // border-bottom:8px $white solid;
          border-left:8px $white solid;
        } 
      }
      .ca-item {
        padding: 0;
        // background-color: $hexachromeBlack;
        transition: all 0.5s ease-in;
        // grid-template-columns: 1fr;
        // grid-template-rows: 4fr 2fr;
        // grid-column-gap: 0;
        // grid-row-gap: 0;
        .home-button:hover{
          // background-color: $white;
        }
        p{
          padding: 1.3rem;
        }
        &:hover {
          // opacity: 0.8;
          // background-color: $pink;
          
          color: $white;
          transition: all 0.5s ease-in;
          .home-button {
            color: $white;
            text-shadow: none;
            transition: all 0.5s ease-in;
          }
          h3 {
            // color: darken(pink, 70%);
          }
        }
      }
      // .ca-item-4,
      // .ca-item-2 {
      //   // border-right: 1px solid $iron;
      // }
      //.ca-item-4,
      //.ca-item-1 {
      //  opacity: 0.8;
      //  background-color: $pink;
      //  color: $white;
      //  &:hover {
      //    background-color: transparent;
      //    transition: all 0.5s ease-in;
      //    h3,
      //    .home-button {
      //      color: $white;
      //      text-shadow: none;
      //    }
      //  }
      //}
      //.ca-item-2,
      //.ca-item-3 {
      //  transition: all 0.5s ease-in;
      //  opacity: 1;
      //  background-color: $pink;
      //  color: $white;
      //  &:hover {
      //    background-color: transparent;
      //    transition: all 0.5s ease-in;
      //  }
      //}
    }
  }
