@use "sass:color";
@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-variant(
      $value,
      $value,
      // modify
      $hover-background: lighten($value, 7.5%),
      $hover-border: lighten($value, 10%),
      $active-background: lighten($value, 10%),
      $active-border: lighten($value, 12.5%) // /modify
    );
  }
}
body {
  padding-top: 4.7rem;
}
.main {
  h2,
  h3,
  h4,
  p,
  ul {
    margin: 1.8rem 0;
  }
}

p,
.entry-content,
.entry-meta {
  font-size: 1.2rem;
}
h1 {
  font-size: 3.1rem;
  line-height: 4rem;
  margin-bottom: 5rem;
}
.entry-meta {
  .author {
    a {
      text-decoration: none;
      line-height: 2.7rem;
    }
  }
}
.posted-on {
  // display: inline-block;
  margin-bottom: 5rem;
  margin: 0;
  text-align: right;
  float: right;
  a {
    text-decoration: none;
    color: var(--bs-gray-700);
    transition: color 0.3s ease-out;
    &:hover {
      color: $blue;
    }
  }
}
.here {
  font-size: 1.15rem;
  background-color: $blue;
  color: $white;
  display: inline-block;
  padding: 3px 5px;
}
.wp-block-embed {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.entry-thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  max-height: 700px;
  img {
    max-width: 100%;
    max-height: fit-content;
  }
}
.entry-title {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 33%;
    background-color: $blue;
  }
}
.entry-content {
  margin-top: 1rem;
}
.entry-meta {
  margin-top: 5rem;
}
pre {
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
  line-height: 20px;
  background: #efefef;
  border: 1px solid #777;
  //background: url(lines.png) repeat 0 0;
  padding: 10px;
  color: #333;
  text-wrap: wrap;
}
pre code {
  padding: 10px;
  color: #333;
}

.post-navigation {
}
.prev-post,
.next-post {
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);
  transition: all 0.9s ease-out;
  &:hover .arrow path {
    fill: var(--bs-code-color);
  }
  &:hover .next-post-title-item,
  &:hover .prev-post-title-item {
    color: $main;
    background-size: 100% 100%;
  }
  &:hover {
    .prev-post-image,
    .next-post-image {
      transform: scale(1.05);
      img {
        transform: scale(1.05);
      }
    }
  }
}
.prev-post-image,
.next-post-image {
  width: 100%;
  height: 300px;
  // padding-bottom: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: all 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06);
  transform: scale(1);
  img {
    transition: all 0.7s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: scale(1);
  }
  // background-color: var(--bs-code-color);
}
.next-post-image {
  grid-area: 1 / 1 / 14 / 21;
}
.prev-post-image {
  grid-area: 1 / 4 / 14 / 25;
}
.prev-post-title,
.next-post-title {
  grid-area: 16 / 4 / 25 / 25;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-decoration: none;
}
.next-post-title-item,
.prev-post-title-item {
  transition: all 0.5s cubic-bezier(0, 0.78, 1, 0.99);
  background-image: linear-gradient(
    transparent 35%,
    color.adjust($blue, $lightness: 30%) 0,
    color.adjust($blue, $lightness: 30%) 75%,
    transparent 0
  );
  background-size: 0% 100%;
  background-repeat: no-repeat;
}
.next-post-title {
  grid-area: 16 / 1 / 25 / 21;
}
.next-post-arrow,
.prev-post-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.prev-post-arrow {
  grid-area: 11 / 1 / 18 / 5;
  justify-content: flex-start;
}
.next-post-arrow {
  grid-area: 11 / 20 / 18 / 25;
  justify-content: flex-end;
}
.arrow path {
  // color: var(--bs-gray-800);
  fill: $blue;
}
.arrow path,
.next-post-title-item,
.prev-post-title-item {
  transition: all 0.5s cubic-bezier(0, 0.78, 1, 0.99);
}
.arrow-left {
  transform: rotate(180deg);
}
// Blockquotes
/* blockquote card colors */

/* blockquote card colors */

/* blockquote card setup*/
blockquote {
  --lmseo-border-color: #{$blue};
  border-left: 4px solid #d6d6d7;
  border-left: 4px solid var(--lmseo-border-color);
  padding: 0 0 0 1.125rem;
  padding: 0 0 0 2rem;
  margin: 0 0 1.125rem 0;
  margin: 4rem 0 4rem 0;
  &::before {
    --lmseo-accent-color: #{$purple};
    --lmseo-qHeight: 4rem;
    display: block;
    content: "";
    margin-left: calc(var(--lmseo-padding) * -1);
    margin-top: calc(var(--lmseo-padding) * -1);
    height: var(--lmseo-qHeight);
    width: calc(var(--lmseo-qHeight) * 1.1);
    background-image: radial-gradient(
        circle at bottom right,
        transparent calc(var(--lmseo-qHeight) / 4 - 1px),
        var(--lmseo-accent-color, black) calc(var(--lmseo-qHeight) / 4)
          calc(var(--lmseo-qHeight) / 2),
        transparent calc(var(--lmseo-qHeight) / 2 + 1px)
      ),
      linear-gradient(
        var(--lmseo-accent-color, black),
        var(--lmseo-accent-color, black)
      );
    background-size: calc(var(--lmseo-qHeight) / 2)
      calc(var(--lmseo-qHeight) / 2);
    background-position:
      top left,
      bottom left;
    background-repeat: space no-repeat;
  }
  & > .author {
    color: var(--lmseo-text-color-author, white);
    background-color: var(--lmseo-accent-color, black);
    justify-self: end;
    font-size: 0.75em;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
  }
  & > .author::before {
    content: "- ";
  }
}
// Code Block Pro Plugin
li .wp-block-kevinbatdorf-code-block-pro {
  margin: 1rem 0;
}
.wp-block-kevinbatdorf-code-block-pro {
  border: 2px solid $hexachromeBlack;
  // border-radius: 25px;
  & > span:first-child {
    border: 2px solid $hexachromeBlack;
    // border-top-right-radius: 23px;
    // border-top-left-radius: 23px;
    background: $gray-800 !important;
  }
  & > span:last-child {
    border: 2px solid $hexachromeBlack;
    border-top: none;
    // border-bottom-right-radius: 23px;
    // border-bottom-left-radius: 23px;
  }
}
.wp-block-kevinbatdorf-code-block-pro.padding-bottom-disabled pre {
  // border-top-left-radius: 23px !important;
  // border-top-right-radius: 23px !important;
}
.cbp-btn-text {
  color: $white;
  &:hover {
    color: color.scale($white, $lightness: 5%);
  }
}
.code-block-pro-copy-button {
  opacity: 1 !important;
  &:hover {
    opacity: 0.7 !important;
  }
  svg {
    stroke: $white;
  }
}
.wp-block-kevinbatdorf-code-block-pro.cbp-has-line-numbers:not(
    .code-block-pro-editor
  )
  pre
  code
  .line
  span {
  text-wrap: wrap;
}
