body {
  color: $white;
  font-size: 15px;
  margin-top: 70px;
}
.contact-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: $hexachromeBlack;
  padding: 3rem 0 6rem;

  input,
  textarea,
  select,
  button {
    color: $white;
    font-size: 15px;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul {
    margin: 0;
  }
  img {
    max-width: 100%;
  }
  ul {
    padding-left: 0;
    margin-bottom: 0;
  }
  a:hover {
    text-decoration: none;
  }
  :focus {
    outline: none;
  }
  h3 {
    font-size: 38px;
  }
  p {
    font-size: 14px;
    padding: 0;
  }
  .inner {
    border: 10px solid $blue;
    max-width: 758px;
    margin: auto;
    background: $marianBlue;
    padding: 77px 99px 87px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    h3 {
      view-transition-name: contact;
    }
  }
  button {
    width: 162px;
    height: 51px;
    border: 2px solid $white;
    margin: 60px auto auto auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    color: $white;
    text-transform: uppercase;
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    i {
      margin-left: 10px;
      transform: translateZ(0);
      transition-duration: 0.1s;
      transition-property: transform;
      transition-timing-function: ease-out;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $pacificCyan;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &:hover {
      border-color: transparent;
      &:before {
        transform: scaleX(1);
      }
      i {
        transform: translateX(4px);
      }
    }
  }
  .form-group {
    position: relative;
    display: block;
    margin-bottom: 48px;
    .label {
      font-size: 15px;
      color: $blue;
      position: absolute;
      top: 11px;
      left: 0;
      transition: all 0.2s ease;
      transform-origin: 0 0;
      cursor: text;
    }
    //span.border {
    //  height: 2px;
    //  display: block;
    //  position: absolute;
    //  width: 100%;
    //  left: 0;
    //  top: 41px;
    //  transform: scaleX(0);
    //  transition: all 0.15s ease;
    //  //background: $white;
    //  border: none !important;
    //}
  }
  .wpcf7-form-control-wrap:has(.form-control:not(:placeholder-shown)) + .label,
  .wpcf7-form-control-wrap:has(.form-control:focus) + .label,
  .wpcf7-form-control-wrap:has(.form-control:valid)
    + .label
    .wpcf7-form-control-wrap:has(.form-control:user-valid)
    + .label {
    transform: translateY(-36px) scale(0.8);
    // & + .border {
    //   transform: scaleX(1);
    // }
  }
  .wpcf7-not-valid-tip {
    @extend .alert;
    @extend .alert-danger;
  }
  form.invalid .wpcf7-response-output {
    @extend .alert;
    @extend .alert-danger;
  }
  form.sent .wpcf7-response-output {
    @extend .alert;
    @extend .alert-primary;
  }
  .form-control {
    border: none;
    border-bottom: 2px solid $blue;
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    background: none;
    color: $white;
    transition: all 0.15s ease;
    &:focus {
      border-bottom: 2px solid $white;
      transition: all 0.15s ease;
    }
    &::placeholder {
      color: transparent;
    }

    // &:focus,
    // &:valid {
    //   & + span {
    //     transform: translateY(-22px) scale(0.8);
    //     //& + .border {
    //     //  transform: scaleX(1);
    //     //}
    //   }
    // }
  }
  textarea.form-control {
    padding-top: 20px;
    padding-bottom: 10px;
    height: 100px;
  }
  textarea {
    resize: none;
  }
  h3 {
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    margin-bottom: 12px;
  }
  p {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 55px;
    line-height: 1.8;
  }
}
.wpcf7-response-output {
  opacity: 0;
}
.form-group-wrapper,
.wpcf7-response-output {
  transition: all 0.3s 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: opacity, transform;
}

form.sent {
  .form-group-wrapper {
    transition-delay: 0s;
    opacity: 0;
    transform-origin: center;
    transform: scale(0);
  }

  .wpcf7-response-output {
    transform-origin: center;
    transition-delay: 0s;
    opacity: 1;
    transform: translateY(-240px);
  }
}
// Letter animation
// Letter animation
// Letter animation
// Letter animation
// Letter animation
.letter-image {
  visibility: hidden;
  position: absolute;
  top: 58%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;
  z-index: 0;

  .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #e95f55 transparent;
    z-index: 2;
  }

  .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition:
      transform 0.4s 0.4s,
      z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition:
      transform 0.4s 0.4s,
      z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition:
      transform 0.4s 0.4s,
      z-index 0.2s 0.4s;
    border-color: #cf4a43 transparent transparent transparent;
    z-index: 2;
  }

  .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #cf4a43;
    z-index: 0;
  }

  .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #e15349;
    z-index: 2;
  }

  .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    width: 160px;
    height: 60px;
    background: white;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;

    .letter-border {
      height: 10px;
      width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        #cb5a5e,
        #cb5a5e 8px,
        transparent 8px,
        transparent 18px
      );
    }

    .letter-title {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 40%;
      background: #cb5a5e;
    }
    .letter-context {
      margin-top: 10px;
      margin-left: 5px;
      height: 10px;
      width: 20%;
      background: #cb5a5e;
    }

    .letter-stamp {
      margin-top: 30px;
      margin-left: 120px;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      background: #cb5a5e;
      opacity: 0.3;
    }
  }
}

.email-shadow {
  position: absolute;
  top: 200px;
  left: 50%;
  width: 400px;
  height: 30px;
  transition: 0.4s;
  transform: translateX(-50%);
  -webkit-transition: 0.4s;
  -webkit-transform: translateX(-50%);
  -moz-transition: 0.4s;
  -moz-transform: translateX(-50%);

  border-radius: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0)
  );
}

form.sent .letter-image {
  visibility: visible;
  .animated-mail {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
  }

  .animated-mail .top-fold {
    transition:
      transform 0.4s,
      z-index 0.2s;
    transform: rotateX(180deg);
    -webkit-transition:
      transform 0.4s,
      z-index 0.2s;
    -webkit-transform: rotateX(180deg);
    -moz-transition:
      transform 0.4s,
      z-index 0.2s;
    -moz-transform: rotateX(180deg);
    z-index: 0;
  }

  .animated-mail .letter {
    height: 180px;
  }

  .email-shadow {
    width: 250px;
  }
}
@include media-breakpoint-up(sm) {
  .letter-image {
    top: 50%;
  }
}
